<div>

  <div class="content-section">
    <h1>
      <%= @title %>

      <button form="adapter-form" class="ui right floated blue wide button">
        <i class="check icon"></i><%= caption_for :save %>
      </button>

      <a href="<%= url_for(:dashboard, :index) %>" class="ui right floated gray wide button">
        <i class="remove icon"></i><%= caption_for :cancel %>
      </a>
    </h1>
  </div>

  <div class="content-section">

    <%= partial '/common/forms/adapter_form', :locals => {
      :adapter => @adapter,
      :mail_clients_options => @mail_clients_options,
      :path => url_for(:adapters, :edit, @adapter.id),
      :method => 'put'
    } %>

  </div>

</div>
